@page "/"
@using System.ComponentModel
@using System.Text
@using AgendaApp.Models
@inject IJSRuntime JS

<Auth />

@{
    if (_microsoftTeamsContext == null)
    {
        <p>Loading Teams context...</p>
    }
    else if (_microsoftTeamsContext.FrameContext.Equals("sidePanel"))
    {
        <SidePanel  MicrosoftTeamsContext="@_microsoftTeamsContext"/>
    }
    else
    {
        <ContentPanel MicrosoftTeamsContext="@_microsoftTeamsContext"/>
    }
}

<div class="rawProperties">@_rawMicrosoftTeamsContext</div>

@code
{
    private MicrosoftTeamsContext _microsoftTeamsContext;
    private string _rawMicrosoftTeamsContext;

    protected override async Task OnInitializedAsync()
    {
        _microsoftTeamsContext = await JS.InvokeAsync<MicrosoftTeamsContext>("GetContext");

        var microsoftTeamsContext = new StringBuilder();
        microsoftTeamsContext.AppendLine("microsoftTeamsContext:");
        foreach (PropertyDescriptor descriptor in TypeDescriptor.GetProperties(_microsoftTeamsContext))
        {
            microsoftTeamsContext.AppendLine($"\t {descriptor.Name}: {descriptor.GetValue(_microsoftTeamsContext)}");
        }
        
        _rawMicrosoftTeamsContext = microsoftTeamsContext.ToString();
    }

}
